<!DOCTYPE html>
<html>

   <head>
       <meta charset="UTF-8" />
       <title>Menu</title>
<!--      <script src="tbd.js"></script>-->
       <link href="CSS/aboutUs.CSS" rel=stylesheet type="text/css"/>
   </head>
  
       <div class="header">
           <div id='nav'>
                <a class="navButton" href="../index.html">HOME</a>   
                <a class="navButton" href="menu.html">MENU</a>
                <a class="navButton" href="ReservationPage.html">RESERVATIONS</a>   
                <a style="background-color:#fff; border-radius:11px; color: black;"  class="navButton" href="aboutUs.html">ABOUT US</a>
                <a class="navButton" href="">LOCATIONS</a>   
           </div>
</div>
<div class="aboutUs">
            <p >
The Bannered Mare is a gastropub located in the heart of the Plains District of Whiterun. Our publican, Hulda, established The Bannered Mare as a place where all can convene over food and drink and be comfortable. Named for the same bannered mare of the ancient Nord king that fell in battle, our Bannered Mare also serves to inspire any who visit to remember what is important and what inspires and drives you. While we may not inspire you to take up arms in defense of your home, we do hope to inspire you to connect to those nearby and enjoy the moments you have with them. So come on in, grab a drink, sit by the hearth, and sing a few songs with us. Skål!
           </p>
       </div>
        <img src="../Images/aboutUs1.jpg">
        <img src="../Images/aboutUs2.jpg">
       <footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">The Bannered Mare </h1><br>
    <li><a href="#"><img class="logo" src="../Images/facebookLogo.png" width="20px"></a><a href="#"><img class="logo" src="../Images/twitterLogo.png" width="40px"></a></li>
        <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">LOCATIONS</h2>

      <ul class="nav__ul">
        <li>
          <em>Winter Park</em><br>1000 Holt Ave<br>Orlando, FL - 32789<br>(786) 123-4321
        </li>
        <li><br></li>
        </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      
      <ul class="nav__ul nav__ul--extra">
        <li><br></li>
        <li>
          <em>Dr. Phillips</em><br>7640 W Sand Lake<br>Orlando, FL - 32819 <br>(786) 4321-123
        </li>
        <li>
          <br>
        </li>
        
        <li>
          <br>
        </li>
      </ul>
    </li>
        
    
    <li class="nav__item">
      <h2 class="nav__title">HOURS</h2>
      
      <ul class="nav__ul">
        <li>
          <em>Monday - Thursday</em><br>11am - 11pm
        </li>
        
        <li>
          <em>Friday - Sunday</em><br>11am - 12am
        </li>
        
        
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; 2021 The Bannered Mare. All rights reserved.</p>
    
  </div>
</footer>
