<!DOCTYPE html>
<html>

   <head>
       <meta charset="UTF-8" />
       <title>Locations</title>

       <link href="CSS/Locations.CSS" rel=stylesheet type="text/css"/>

   </head>
  
       <div class="header">
           <div id='nav'>
                <a class="navButton" href="../index.html">HOME</a>   
                <a class="navButton" href="menu.html">MENU</a>
                <a class="navButton" href="ReservationPage.html">RESERVATIONS</a>   
                <a class="navButton" href="aboutUs.html">ABOUT US</a>
                <a style="background-color:#fff; border-radius:11px; color: black;" class="navButton" href="">LOCATIONS</a>   
           </div>
        </div>
        <aside>We Are Coming Soon<br>at<br>Location Winter Garden!</aside>
        
        <div class="maps">
          
            
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5770.591851080179!2d-81.3535965689644!3d28.590413643088727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77005b9539e5d%3A0x8e2b0d51dfd02ef2!2s1000%20Holt%20Ave%2C%20Winter%20Park%2C%20FL%2032789!5e0!3m2!1sen!2sus!4v1625887928590!5m2!1sen!2sus" width="600" height="450" style="border: 0;" loading="lazy"></iframe><div class="overlay">Location Winter Park</div></div>


        <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.022086136604!2d-81.49193174889233!3d28.448750599038814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77fa1416e5b63%3A0xb0f588f21ad2f464!2s7640%20Sand%20Lake%20Rd%2C%20Orlando%2C%20FL%2032819!5e0!3m2!1sen!2sus!4v1625888886133!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="overlay">Location Dr.Phillips</div>
       </div>


       





       <footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">The Bannered Mare </h1><br>
    <li><a href="#"><img class="logo" src="../Images/facebookLogo.png" width="20px"></a><a href="#"><img class="logo" src="../Images/twitterLogo.png" width="40px"></a></li>
        <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">LOCATIONS</h2>

      <ul class="nav__ul">
        <li>
          <em>Winter Park</em><br>1000 Holt Ave<br>Orlando, FL - 32789<br>(786) 123-4321
        </li>
        <li><br></li>
        </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      
      <ul class="nav__ul nav__ul--extra">
        <li><br></li>
        <li>
          <em>Dr. Phillips</em><br>7640 W Sand Lake<br>Orlando, FL - 32819 <br>(786) 4321-123
        </li>
        <li>
          <br>
        </li>
        
        <li>
          <br>
        </li>
      </ul>
    </li>
        
    
    <li class="nav__item">
      <h2 class="nav__title">HOURS</h2>
      
      <ul class="nav__ul">
        <li>
          <em>Monday - Thursday</em><br>11am - 11pm
        </li>
        
        <li>
          <em>Friday - Sunday</em><br>11am - 12am
        </li>
        
        
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; 2021 The Bannered Mare. All rights reserved.</p>
    
  </div>
</footer>
</html>
